.footer {
  display: flex;
  justify-content: center;
  
  &__text, &__break {
    display: flex;
    align-items: center;
    color: #888888;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
  }

  &__break-one-subset {
    display: flex;
  }

  a {
    text-decoration: none;
    display: flex;
  }

  &__linkedin {
    color: #3a5864;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: $theme-midnight-blue;
    }
  }

  &__github {
    height: 2rem;

    &:hover {
      border-radius: 5px;
      background-color: #007693;
    }
  }
}

@media (max-width: 990px) {
  .footer {

    &__break{
      font-size: 1.35rem;
    }
  }
}

@media (max-width: 910px) {
  .footer {

    &__text{
      flex-direction: column;
    }
    
    &__break {
      font-size: 1.35rem;
    }

    &__github {
      height: 1.7rem; 
    }
  }
}

@media (max-width: 420px) {
  .footer {

    &__break {
      &--one {
        flex-direction: column;
      }
    }
  }
}