.carousel {
  // border: 3px solid orange;
  margin-top: 4rem;
  margin-bottom: 1rem;

  &__image {
    border-radius: 7px;
    border: 4px solid $theme-black;
    transition: transform .3s;

    &:hover {
      border: 4px solid $theme-midnight-blue; 
    }
  }
}

// -------- React-elastic-carousel's in-built classes: -------- //
.rec-dot {
  background-color: rgba($theme-midnight-blue, .4) !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 1rem !important;

  &_active {
    box-shadow: 0 0 .1rem .3rem $theme-midnight-blue !important;
  }
}

.rec-arrow {
  color: $theme-grey !important;

  &:hover:enabled, 
  &:focus:enabled {
    background-color: $theme-midnight-blue !important;
  }
}
// ------------------------------------------------------------ //

.card {
  text-decoration: none;
  color: $theme-white;
  font-size: 2rem;
  perspective: 150rem;
  
  &__side {
    transition: all .8s ease;
    backface-visibility: hidden;
    text-align: center;
    position: relative;

    &--back {
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 4px solid $theme-midnight-blue;
      border-radius: 7px;
      padding: 1rem 1.5rem;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
    border: 4px solid $theme-midnight-blue;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: .5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: rgba($theme-grey, .6);
    }
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__details {
    margin: 1rem 0;

    &--genres {
      text-transform: uppercase;
      margin: 2.25rem 0;
    }

    &--actors {
      color: $theme-white;

      span {
        display: inline-block;
      }
    }
  }
}