.home {
  margin-bottom: 0;

  &__content {
    display: flex;
  }

  // SEARCH & FILTER CONTROLS
  &__controls-wrapper {
    margin: 2rem 0 0 2rem;
    align-self: center;
    position: relative;
    // position: fixed;
    transition: all 1s;
    // border: 3px solid orange;
  }

  &__expand-controls {
    position: absolute;
    top: -1rem;
    right: -5.5rem;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    color: $theme-grey;
    // border: 2px solid red; 
    
    p span {
      font-size: 3.5rem;
    }
    
    &:hover {
      color: $theme-blue-light;
      cursor: pointer;
    }
  }

  &__controls {
    transform: translateX(0);
    opacity: 1;
    width: 100%;
  }

  &__search-bar {
    font-family: inherit;
    padding: 1rem 1.5rem;
    // height: 10rem;
    width: 29rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
  }
  
  &__controls-heading {
    // border: 2px solid pink;
    margin-top: 2rem;
    text-align: center;
    color: $theme-grey;
    padding: .5rem 1rem;
  }

  &__clear-filter {
    font-family: inherit;
    padding: .5rem 1rem;
    // border: 1px solid $theme-blue-light;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: $theme-blue-light;
    // text-shadow: 1rem 1rem 1rem white;
    transition: transform .2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      // color: $theme-midnight-blue;
      font-weight: 600;
    }

    &:active {
      transform: scale(.98);
    }
  }

  &__filters {
    // border: 2px solid yellow;
    max-width: 29rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__filter {
    border: 2px solid $theme-midnight-blue;
    margin: .5rem;
    width: 11.5rem;
    text-align: center;
    padding: .75rem 0;
    border-radius: 10px;
    font-size: 1.4rem;
    color: $theme-grey;

    &:hover {
      font-weight: 600;
      border: 2px solid $theme-white;
      cursor: pointer;
    }

    &:active,
    &--selected {
      background-color: $theme-midnight-blue;
      color: $theme-white;
      font-weight: 600;
    }

  }

  // SERIES CARDS
  &__catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // border: 2px solid limegreen;
    margin-left: 6rem;
    // margin-left: 30rem;
    max-height: calc(100vh - 15rem);
    height: calc(100vh - 15rem);
    // position: relative;  // absolute controls relative to this
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba($theme-grey, .6);
      // background-color: white;
    }
  }

  &__empty-catalogue {
    margin: 7rem 5rem;
    align-self: stretch;
  }

  &__series-card {
    box-shadow: .1rem 0 1.7rem 1.2rem rgba($theme-midnight-blue, 0.9);
    border-radius: 2.5rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    text-align: center;
    padding: 2.5rem 3rem;
    margin: 3rem 3.5rem;
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__series-poster {
    height: 25rem;
    margin: 2rem 0;
    border-radius: .2rem;
  }

  &__series-link {
    color: $theme-white;
    text-decoration: none;

    h2 {
      font-weight: 600;
    }
  }
}