.home {
  margin-bottom: 0;

  &__content {
    display: flex;
  }

  // SEARCH & FILTER CONTROLS
  &__controls {
    position: fixed;
    // border: 2px solid orange;
    margin: 3rem 0 0 2rem;
    align-self: center;
  }

  &__search-bar {
    font-family: inherit;
    padding: 1rem 1.5rem;
    // height: 10rem;
    width: 29rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
  }
  
  &__controls-heading {
    // border: 2px solid pink;
    margin-top: 2rem;
    text-align: center;
    color: $theme-grey;
  }

  &__filters {
    // border: 2px solid yellow;
    max-width: 29rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__filter {
    border: 2px solid $theme-midnight-blue;
    margin: .5rem;
    width: 11.5rem;
    text-align: center;
    padding: .75rem 0;
    border-radius: 10px;
    font-size: 1.4rem;
    color: $theme-grey;

    &:hover {
      color: $theme-midnight-blue;
      cursor: pointer;
    }

    &:active {
      background-color: $theme-midnight-blue;
      color: $theme-white;
      font-weight: 600;
    }
  }

  // SERIES CARDS
  &__catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // border: 2px solid limegreen;
    margin-left: 30rem;
    height: calc(100vh - 15rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba($theme-grey, .6);
      // background-color: white;
    }
  }

  &__series-card {
    box-shadow: .1rem 0 1.7rem 1.2rem rgba($theme-midnight-blue, 0.9);
    border-radius: 2.5rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 3rem;
    margin: 3rem 3.5rem;
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.06);
    }
  }

  &__series-poster {
    height: 25rem;
    margin: 2rem 0;
    border-radius: .2rem;
  }

  &__series-link {
    color: $theme-white;
    text-decoration: none;

    h2 {
      font-weight: 600;
    }
  }
}