.show-series {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 0;
  }

  &__series-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 90%;
    margin-top: 2rem;
  }

  &__heart {
    color: $heart-red;
    font-size: 4rem;
    position: absolute;
    top: -2rem;
    left: -2rem;
  }
  
  &__poster {
    position: relative;
    width: 25%;
    max-width: 25rem;
    display: flex;
    align-items: center;
  
    .hovertext {
      position: relative;
      z-index: 0;
    }
  
    .hovertext::before {
      content: attr(data-hover);
      visibility: hidden;
      opacity: 0;
      font-size: 1.5rem;
      background-color: $theme-midnight-blue;
      color: #fff;
      text-align: center;
      border-radius: 1rem;
      padding: 1rem;
      transition: all .3s ease-in-out;
      position: absolute;
      right: -5rem;
      left: 3rem;
      top: -4rem;
    }
  
    .hovertext:hover::before {
      opacity: 0.85;
      visibility: visible;
    }

    img {
      width: 100%;
      border-radius: .5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  
  &__info {
    width: 52%;
    display: flex;
    flex-direction: column;
    box-shadow: .1rem 0 1.7rem 1.3rem $theme-midnight-blue;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
  
    p {
      margin: .75rem;
    }

    span {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
  
  // reduce the highlight on the comments section - make more subtle
  &__comments-section {
    box-shadow: .1rem .1rem 1.9rem 1.1rem rgba($theme-midnight-blue, 0.7);
    border-radius: .7rem;
    margin-top: 7rem;
    padding: 2.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
    h2 {
      margin-top: 0;
      font-weight: 600;
    }
  }

  &__comments-content {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem 0;
  }

  &__leave-comments-section {

    .comments-form {
      border: 3px solid $theme-midnight-blue;
      border-radius: 1rem;
      padding: 1.5rem 3rem;

      #comment {
        height: 7.5rem;
      }

      #rating {
        width: 6rem;
      }

      button {
        margin-top: 0;
      }
    }
  }

  &__displayed-comments {
    max-width: 60%;
    margin-left: 7rem;
  }

  &__no-comments {
    text-transform: uppercase;
  }
  
  &__single-comment-line {
    display: flex;
    width: 100%;
    align-items: center;

    button {
      width: 4rem;
      height: 4rem;
      padding: 0;
      background-color: $theme-grey;
      border: none;
      border-radius: .7rem;
      align-self: center;
  
      &:hover {
        cursor: pointer;
        background-color: $theme-white;
      }
    }
  }

  &__individual-comment {
    border: 1px solid azure;
    border-radius: .5rem;
    padding: 1.25rem 1.75rem;
    display: flex;
    justify-content: space-between;
    margin: .7rem 1rem;
    width: 100%;

    & p:first-child {
      width: 95%;
    }

    & p:last-child {
      align-self: center;
    }
  }
}
