@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;600;700&display=swap');

@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";


section {
  margin: 3rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 600;

  span {
    border: 2px solid $theme-yellow;
    background-color: $theme-yellow;
    color: $theme-black;
    border-radius: .8rem;
    padding: .1rem .7rem;
    font-weight: 700;
  }
}

p {
  font-size: 1.3rem;
}

// NAVBAR
header {
  // background-color: rgba(8,69,84,0.53);
  background-color: rgba($theme-midnight-blue, 0.55);
  
  .navbar {
    height: 6vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-item {
    text-decoration: none;
    padding: 2rem;
    font-weight: 600;
    color: $theme-white;
    text-transform: uppercase;

    &:hover {
      color: $theme-blue-light;
    }
  }
  .logout:hover {
    cursor: pointer;  
  }
  .nav-user {
    display: flex;
  }
}


// HOME PAGE
.catalogue {
  display: flex;
  flex-wrap: wrap;
  
  .series-card {
    box-shadow: .1rem 0 1.7rem 1.2rem rgba($theme-midnight-blue, 0.9);
    border-radius: 2.5rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    transition: .3s ease-in-out;
    &:hover {
      transform: scale(1.06);
    }
    
    .poster {
      height: 25rem;
    }
    
    .link {
      color: $theme-white;
      text-decoration: none;

      h2 {
        font-weight: 600;
      }
    }
  }
}

// Individual Series Page
.info-wrapper {
  display: flex;
  justify-content: space-between;

  .poster-large {
    width: 47.5%;

    img {
      width: 100%;
    }
  }
  
  .info {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .series-info {
      box-shadow: .1rem 0 1.7rem 1.3rem $theme-midnight-blue;
      padding: .2rem 2rem;
      border-radius: 2rem;

      span {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }

    .comments-section {
      margin-top: 4rem;
      
      form {
        box-shadow: .1rem .1rem 1.9rem 1.1rem rgba($theme-midnight-blue, 0.7);

        #comment {
          height: 7.5rem;
        }
  
        #rating {
          width: 5rem;
        }

        button {
          margin-top: 0;
        }
      }
    }
  }
}

.displayed-comments {
  box-shadow: .1rem .1rem 1.9rem 1.1rem rgba($theme-midnight-blue, 0.7);
  border-radius: .7rem;
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;

  h2 {
    margin-top: 0;
    font-weight: 600;
  }

  .single-comment-line {
    display: flex;
    width: 100%;

    .individual-comment {
      border: 1px solid azure;
      border-radius: .5rem;
      padding: 0 .8rem;
      display: flex;
      justify-content: space-between;
      margin: .7rem 1rem;
      width: 100%;
    }

    button {
      width: 4rem;
      height: 4rem;
      padding: 0;
      background-color: $theme-grey;
      border: none;
      border-radius: .7rem;
      align-self: center;

      &:hover {
        cursor: pointer;
        background-color: $theme-white;
      }
    }
  }
}


// LOGIN PAGE:
.add-series-form-wrapper, .login-form {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 1rem;
  box-shadow: .1rem .1rem 1.9rem 1.4rem $theme-midnight-blue;
  border-radius: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .field {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;

    .input {
      padding: 1rem;
      font-family: inherit;
      border-radius: 1rem;
      margin-top: .3rem;
      width: 25rem;
    }

  }
  .rating {
    align-items: center;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  button {
    padding: .9rem 2rem;
    width: 25rem;
    margin: 2.5rem 1rem;
    background-color: $theme-midnight-blue;
    border-radius: 1rem;
    border: 3px solid $theme-midnight-blue;
    color: $theme-white;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;

    &:hover {
      background-color: $theme-white;
      border: 3px solid $theme-midnight-blue;
      color: $theme-midnight-blue;
      cursor: pointer;
    }
  }
}


// ADD SERIES PAGE:
.input-fields-wrapper {
  display: flex;
}

.footnote {
  font-size: 1.2rem;
}